<h2 class="title">Hello {{title}}</h2>
<form #formData="ngForm" >
  <input type="text" name="id" placeholder="enter id" [(ngModel)]="stuObj.stdId" /><br/>
  <input type="text" name="name" placeholder="enter name" [(ngModel)]="stuObj.stdName" /><br/>
  <input type="text" name="salary" placeholder="enter salary" [(ngModel)]="stuObj.stdSalary" /><br/>
  <button (click)="addItem(formData)">Add</button>
  
</form>
<br/>
<div>
  <table>
    <tr *ngFor="let item of stuArr;index as i">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.salary}}</td>
      <td><button (click)="remItem(i)">Remove</button> </td>
    </tr>
  </table>
</div>